import bs4 as bs
import urllib.request

sauce = urllib.request.urlopen('https://www.flipkart.com/').read()
soup = bs.BeautifulSoup(sauce,'lxml')

nav = soup.nav
for url in soup.find_all('a'):                     
  print(url.get('href'))
